
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
body{
    margin:0 auto;
    max-width: 1200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: black;
}

img{
    max-width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
}
.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.info-product{
    padding: 15px 30px;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}
.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

p{
    text-align: center;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    }
    header nav a{
    text-decoration: none;
    margin:10px;
    background-color: black;
    width: 120px;
    height: 50px; 
    text-align: center;
    line-height: 50px;
    color: white;
    }

.form-register{
width:400px ;
background: white;
padding: 30px;
margin: auto;
margin-top: 20px;
border-radius: 4px;
font-family: "calibri";
color: black;
box-shadow: 7px 13px 37px black;
}

.form-register h4{
    margin-bottom: 20px;
    font-size: 22px;
}
.controls{
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #000000;
    font-family: "calibri";
    font-size: 18px;
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a{
    color: black;
    text-decoration: none;
}

.form-register a:hover{
    color: red;
    text-decoration: under;
}

.form-register .botons{
    background: white;
    width: 100%;
    border:1px solid black;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
}

.container { 
    max-width: 1200px;
    margin: 0 auto;

}

.footer {
    background-color: black;
    padding: 80px 0;

}
.footer-row { 
    display: flex;
    flex-wrap: wrap;
}
.footer-links {
    width: 25%;
    padding:100px 10px;
}

.footer-links h4 {
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    color:black;
    display:block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: rgb(155, 155, 155);
    padding-left: 6px;
}

.social-link a{
    display:inline-block;
    min-height: 40px;
    width: 40px;
    background-color: white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: rgb(155, 155, 155);
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}



