*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
body{
    margin:0 auto;
    max-width: 1200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: black;
}

img{
    max-width: 100%;
}